h1 {
	text-align: center;
	font-family: "HelveticaNeue-Light";
	color: black;
}

html {
	height: 100%;
	font-family: "HelveticaNeue-Light";
}

body {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

#map {
	margin: 5%;
	width: 500px;
	height: 350px;
}

p {
    text-align: center;
}
