/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}

#map-canvas {
  height: 100%;
  margin: 0 auto 0 auto;
  margin-left: 10%;
  margin-bottom: 30px;
  width: 75%;
}

@media only screen and (min-width: 992px) {
  #map-canvas {
     height: 100%;
     width: 40%;
     margin-bottom: 50px;
     margin-top: 26px; 
     margin-left: 1%;
     margin-right: 1%;
  }
}

@media only screen and (max-device-width: 720px) {
  table, .table-responsive {
    width: 150%;
    margin-left: 0%;
    margin-right: 25%;
  }
  body, html { 
    overflow-y: hidden;
    width: 100%; 
}
}
