/* Sticky footer styles
from http://getbootstrap.com/2.3.2/examples/sticky-footer.html
-------------------------------------------------- 
Other CSS custom
*/

/* DESKTOP/BIG SCREENS */
@media only screen and (min-width: 992px) {
      html,
      body {
        height: 100%;
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        margin: 0 auto -60px;
      }
      #push,
      #footer  {
        height: 60px;
      } 
      #footer {
        background-color: #f5f5f5;
      }
          table, .table-responsive {
      width: 100%;
      margin-left: 0%;
      margin-right: 30%;
      overflow-y: hidden;

    }
h3 {
  position: center;
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}

  #map-canvas {
     height: 100%;
     width: 40%;
     margin-bottom: 50px;
     margin-top: 26px; 
     margin-left: 1%;
     margin-right: 1%;
  }
}

/* PHONES AND TABLETS */
@media only screen and (max-width: 991px) {
  html,
  body {
    height: 100%;
  }

  /* Wrapper for page content to push down footer */
  #wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
  }

  #push /*,
  #footer */{
    height: 60px;
  }
/*  #footer {
    background-color: #f5f5f5;
  }*/

  /* Lastly, apply responsive CSS fixes as necessary */
/*    #footer {
      margin-left: -20px;
      margin-right: -20px;
      padding-left: 20px;
      padding-right: 20px;
    }
*/
  .container {
    max-width: 680px;
    padding: 0 15px;
  }
  .container .text-muted {
    margin: 20px 0;
  }
    table, .table-responsive {
      width: 100%;
      margin-left: 0%;
      margin-right: 25%;
      overflow-y: hidden;

    }
    #map-canvas {
      height: 100%;
      margin: 0 auto 0 auto;
      margin-left: 10%;
      margin-bottom: 30px;
      width: 75%;
    }
    #hideme {
      display: none;
    }
}

#amount {
  width: 50%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

#fractionupdate {
  height: 30px;
}

#sliderinstr {
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
}

#chart_exp {
  padding-left: 20px;
  padding-right: 20px;
}
